{% extends 'base.html' %}
{% import 'macros.html' as macro %}


{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}



{% block content %}



<div class="container">

    <h2>General News Sources</h2>
    <p>
        {{macro.displayNews(general)}}
    </p>




    <h2 style>Sports News Sources</h2>
    <p>
        {{macro.displayNews(sports)}}
    </p>

    <h2>Technology News Sources</h2>
    <p>
        {{macro.displayNews(technology)}}
    </p>

    <h2>Science News Source</h2>
    <p>
        {{macro.displayNews(science)}}
    </p>
</div>

{% endblock %}