{% extends 'base.html' %}
{% import 'macros.html' as macro %}


{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}



{% block content %}



<div class="container">
    
        <h2 >General News</h2>
        <ul>
            {{macro.displayNews(general)}}
        </ul>
   



    <h2 style>Sports News</h2>
    <ul>
        {{macro.displayNews(sports)}}
    </ul>

    <h2>Technology News</h2>
    <ul>
        {{macro.displayNews(technology)}}
    </ul>

    <h2>Science News</h2>
    <ul>
        {{macro.displayNews(science)}}
    </ul>
</div>

{% endblock %}