{% extends 'base.html'%}




{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/news.css')}}">
{% endblock %}


{% block content %}


<div class="container">
    <h2>Trending News</h2>
    <div class="row">
        {% for article in articles %}
        <div class="col-md-4 card">
                <div class="thumbnail">
                   
                    <img src="{{article.urlToImage}}" class="img-responsive" styles="height:20px">
                    <div>
                        <p>{{article.description}}</p>
                        <p class="post">Posted on : {{article.publishedAt}}</p>
                        <a href="{{article.url}}" target="_blank" class="anch"> Read Full article </a>
                    </div>
                    
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="container">
    <h2>Technology News</h2>
    <div class="row">
        {% for tech in techn %}
        <div class="col-md-4 card">
                <div class="thumbnail">
                   
                    <img src="{{tech.urlToImage}}" class="img-responsive" styles="height:20px">
                    <div>
                        <p>{{tech.description}}</p>
                        <p class="post">Posted on : {{tech.publishedAt}}</p>
                        <a href="{{tech.url}}" target="_blank" class="anch"> Read Full article </a>
                    </div>
                    
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="container">
    <h2>Business News</h2>
    <div class="row">
        {% for bussi in buss %}
        <div class="col-md-4 card">
                <div class="thumbnail">
                   
                    <img src="{{bussi.urlToImage}}" class="img-responsive" styles="height:20px">
                    <div>
                        <p>{{bussi.description}}</p>
                        <p class="post">Posted on : {{bussi.publishedAt}}</p>
                        <a href="{{bussi.url}}" target="_blank" class="anch"> Read Full article </a>
                    </div>
                    
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="container">
    <h2>Sports News</h2>
    <div class="row">
        {% for sportt in sport %}
        <div class="col-md-4 card">
                <div class="thumbnail">
                   
                    <img src="{{sportt.urlToImage}}" class="img-responsive" styles="height:20px">
                    <div>
                        <p>{{sportt.description}}</p>
                        <p class="post">Posted on : {{sportt.publishedAt}}</p>
                        <a href="{{sportt.url}}" target="_blank" class="anch"> Read Full article </a>
                    </div>
                    
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock%}